.all-countries-container {
    padding: 1rem 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    width: 100%;
}

/* .link-countries a{
    text-decoration: none;
} */

/* Media Queries */

@media screen and (max-width:1200px) {
    .all-countries-container {
        grid-gap: 2rem;
    }

    .other-country-details {
        margin-bottom: 0rem;
    }
    
}

@media screen and (max-width:1000px) {
    .all-countries-container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem;
    }

}

@media screen and (max-width:900px) {
    .all-countries-container {
        grid-gap: 2rem;
    }
}

@media screen and (max-width:800px) {
    .all-countries-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4rem;
    }
}

@media screen and (max-width:600px) {
    .all-countries-container {
        grid-template-columns: repeat(1, 1fr);
        /* padding: 1rem 2rem; */
        /* grid-gap: 4rem; */
    }
}






/* Search Filter */



